/*style général*/

body
{

    font-family: "raleway", Arial, sans-serif;
    color:black;
    
}

#bloc_page
{
    margin: auto;
}

p
{
    padding: 0px 50px 25px 50px;
    font-size: 1.2em;
}

h1
{
    padding: 0 50px 0 50px;
    font-size: 22px;
}

h2
{
    padding-left: 25px;
    font-size: 20px;

}

h4
{
    padding-left: 50px;
    font-size: 18px;
}


a
{
    text-decoration-line: none;
    color: black;

}

.etoile_manquante
{
    color: #F2F2F2;
}

li
{
    list-style: none;
    font-size: 1.3em;
    margin-bottom: 25px;
}

/*apparence dynamique des liens*/

a:hover
{
    color: #0065FC;
}

a:active
{
    color: #0065FC;
}

a:focus
{
    color: #0065FC;
    font-weight: bold;
}


/*fin apparence dynamique des liens*/

/*header*/

header
{
    display: flex;
    flex-wrap: nowrap;
    min-height: 132px;
    margin-left: 0px;
    font-size: 1em;
    
}

#bloc_logo
{
    display: flex;
    align-self: center;
    min-width: 28%;
    padding-left: 50px;

}

nav
{
    flex: auto;
    display: flex;
    min-height: 44px; 
    
}

#menu
{
    flex:auto;
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 0px;

}

.item_menu
{
    border-top: white solid 2px;
    padding: 40px 30px 30px 30px;
  }


header p
{
    padding: 40px 30px 30px 30px;
    margin: 0;
    border-top: white solid 2px;
    font-size: 1em;
}
 
#inscription
{
    color:#0065FC;
    font-weight: bold;
}

  /*apparence dynamique du menu*/

  .item_menu:hover
  {
    border-top: #0065FC solid 2px;
}

.item_menu:focus
{
    border-top: #0065FC solid 2px;
}

#inscription:hover
{
    text-decoration: underline;
}

#inscription:focus
{ 
    color: black;
    text-decoration: underline;
}


/*fin header*/

/*barre de recherche*/

#recherche
{
    margin-left: 0px;
    
}

#recherche h2
{
    padding-left: 50px;
    font-size: 1.1em;
}

/*champ de saisie*/

#champ_de_saisie
{
    display: flex;
    width: 440px;
    padding: 0 50px 50px 50px;
}

form
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #F2F2F2 2px;
    border-radius: 15px;
}

input
{
    height: 100%;
    width: auto;
}

input[type="text"]
{
    font-family: "raleway", Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-indent: 20px;
    border-style: hidden;
    background-color: white;
    
}

#loupe
{
    display: none;  
    
}

#rechercher
{
    height: 107%;
    margin-right: -3px;
    font-size: 1.1em;
    font-weight: 600;
    color:white;
    background-color:#0065FC;
    border-style: hidden;
    border-radius: 0 0.8em 0.8em 0;
    padding: 0.9em 0.9em 0.9em 0.9em;
}


i.fas.fa-map-marker-alt
{
    display:flex;
    align-items: center;
    font-size: 1.3em;
    padding: 0.8em 1em 0.9em 0.9em;
    border-radius: 10px 0 0 10px;
    color:black;
    background-color: #F2F2F2;

}

.info_dispo
{
    margin-block-end: 0.5em;
}

/*animation bouton d'envoi du formulaire de recherche*/

#rechercher:hover
{
    cursor: pointer;
}

#rechercher:active
{
    cursor: pointer;
    background-color:#DEEBFF;
}

#rechercher:focus
{
    cursor: pointer;
}

/*filtres*/

.filtres
{
    display: flex;
}

.filtres h2
{
    display: flex;
    align-items: center;
}

/*apparence statique boutons filtres*/

.boutons_filtres
{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 35px;
    margin-right: 35px;
}

.cellule
{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-family: "raleway", Arial, sans-serif;
    font-weight: bold;
    margin: 0.5em 0.5em 0.5em 0.5em;
    background-color: white;
    border-radius: 10em 10em 10em 10em;
    border: #F2F2F2 solid 2px;
    padding: 0px 16px 0px 0px ;
}

i.fas.fa-heart, i.fas.fa-dog
{
    font-size: 1.3em;
    padding: 0.8em 0.8em 0.8em 0.8em;
    border-radius: 10em 10em 10em 10em;
    color:#0065FC;
    background-color: #DEEBFF;
}
  
i.fas.fa-money-bill-wave
{
    font-size: 1.2em;
    padding: 0.9em 0.8em 0.9em 0.8em;
    color:#0065FC;
    border-radius: 10em 10em 10em 10em;
    background-color: #DEEBFF;
}

i.fas.fa-child
{
    font-size: 1.3em;
    padding: 0.8em 0.9em 0.8em 0.9em;
    border-radius: 10em 10em 10em 10em;
    color:#0065FC;
    background-color: #DEEBFF;
}

i.fas.fa-info
{   
    float: left;
    color:#0065FC;
    font-size: 10px;
    border-radius: 50%;
    border: 2px solid  #F2F2F2; 
    padding: 10px 15px 12px 15px;
    margin-right: 20px;
}

.texte_filtre
{
    padding-left: 0.8em;
}

/*fin apparence statique boutons filtres*/

/*animation boutons filtres*/

.cellule:hover
{
    cursor:pointer;
    background-color:#DEEBFF;
    
}

.cellule:active
{
    cursor:pointer;
    background-color:#DEEBFF;
    border: hidden;
}

.cellule:focus
{
    cursor:pointer;
    background-color:#DEEBFF;
    border: hidden;
}


/*fin animation boutons filtres*/

/*fin filtres*/

/*fin barre de recherche*/

#hebergements
{
    display: flex;
    margin: 40px 35px 40px 40px;
}

/*hébergements proposes*/

main
{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

#hebergements_proposes
{
    width: 60%;
    padding: 20px;
    margin-right: 30px;
    background-color: #F2F2F2;
    border-radius: 1.5em;
}

.fiches_hebergements_proposes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*apparence statique cartes hotels */

.cartes_hotels
{
    background-color: white;
    border-radius: 25px;
    height: 210px;
    width: 246px;
    box-shadow: 0 0 30px #dddddd;
    margin: 15px;
   }

.cartes_hotels img
{
    height: 60%;
    width: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: white solid 5px;
}

.cartes_hotels .carte
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cartes_hotels h3
{
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0.4em;
    margin-left: 20px;
    margin-right: 20px;
}

.cartes_hotels p
{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0.4em;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

.rangee_etoiles
{
    margin-bottom: 0;
    margin-top: 0.4em;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    color: #0065FC;
}

/*fin apparence statique cartes hotels*/

/*apparence dynamique des cartes hotels*/

.cartes_hotels:hover
{
    transform: scale(1);
}

.cartes_hotels:active
{
    opacity: 0.2;
}

.cartes_hotels:focus
{
    filter:grayscale(1);
}

/*fin hebergements proposes*/

/*hebergements les plus populaires*/

#hebergements_populaires
{
    width: 30%;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #F2F2F2;
    border-radius: 1.5em;  
}

.titre_avec_icone
{
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.titre_avec_icone p
{
    padding-bottom: 0px;
}

.fas.fa-chart-line
{
    font-size: 28px;    
}

/* apparence statique cartes hotels populaires */


.cartes_hotels_populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    background-color: white;
    border-radius: 25px;
    height: 144px;
    width: 344px;
    box-shadow: 0 0 30px #dddddd;
}

.cartes_hotels_populaires .carte
{
    display: flex;
    height: 100%;
}

.cartes_hotels_populaires img
{
    width: 40%;
    object-fit: cover;
    border: white solid 5px;
    border-radius: 20px 0 0 20px;   
}

.nom_hotel_populaire
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.cartes_hotels_populaires h3
{
    font-size: 16px;
    margin: 0;
    margin-top: 0.4em;
}

.cartes_hotels_populaires p
{
    padding: 0;
    margin: 0;
    margin-top: -1.5em;
    font-size: 14px;
}

.rangee_etoiles_populaire
{
    margin: 0;
    margin-top: 0.4em;
    font-size: 12px;
    color: #0065FC;
}

/*apparence dynamique cartes hotels populaires*/

.cartes_hotels_populaires:hover
{
    transform: scale(1.1);
}

.cartes_hotels_populaires:active
{
    opacity: 0.2;
}

.cartes_hotels_populaires:focus
{
    filter:grayscale(1);
}


/*fin hebergements les plus populaires*/

/*fin hebergements*/

/*activites proposees*/

#activites
{
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 40px 30px 40px 30px;
}

#activites h2
{
    padding-left: 20px;

}
/* apparence statique cartes activites */

#bloc_fiches_activites
{
    height: 340px;
    display: flex;
    justify-content: space-around;
}
.cartes_activites
{
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 25px;
    height: 100%;
    width: 22%;
    box-shadow: 0 0 30px #dddddd;
}

.grand
{
    width: 230px;
    height: 330px;
}
.reduite
{
    width: 230px;
    height: 175px;
    border-radius: 20px;
    margin-right: 12px;
}

.tres_reduite
{
    width: 280px;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.tres_tres_reduite
{
    width: 230px;
    height: 120px;
    border-radius: 20px;
    margin-top: 35px;
}

.cartes_activites .carte
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cartes_activites img
{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cartes_activites h3
{
    margin-left: 2em;
    font-size: 1.1em;
}

.reduite img
{
    height: 80%;       
}

.tres_reduite img
{
    height: 78%;
}

.tres_tres_reduite img
{
    height: 63%;
}



#bloc_act1
{
    width: 49%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;
}

#bloc_act2
{
    width: 49%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;
}

/*apparence dynamique des cartes activites*/

.cartes_activites:hover
{
    transform: scale(1.2);
}

.cartes_activites:active
{
    opacity: 0.2;
}

.cartes_activites:focus
{
    filter:grayscale(1);
}

/*fin activites proposees*/

/*footer*/

footer
{
    display: flex;
    justify-content: flex-start;
    background-color:#F2F2F2;
}

.bloc_footer
{
    padding: 25px 150px 25px 25px;
}
footer h1
{
    padding: 10px 0px 15px 40px;
    font-size: 20px;
}

footer li
{
    font-size: 17px;
    margin-bottom: 15px;
}

/*fin footer*/

